body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: #DEF0FF;
}

#content {
    border: 1px solid #B6CDF2;
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    /*background: #EDF7FF;*/
}

#main {
    width: 100%;
}

#header {
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;

    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0); /* IE6-9 */

}

#left-part {
    /*background: #D2FCD7;*/
    /*border: 1px solid #B6CDF2;*/
    margin-right: 230px;
    min-height: 400px;
    /*width: 77%;*/
    /*width: 600px;*/
    /*background: green;*/
    /*float: left;*/
}

#right-part {
    position: absolute;
    top: 112px;
    width: 220px;
    /*width: 20%;*/
    /*float: right;*/
}

#filter {
    text-align: right;
    border: 1px solid #B6CDF2;
    background: #DEF0FF;
    /*margin: 20px 10px 10px 10px;*/
    margin: 0px 10px 10px 0px;
    padding: 10px;
}

#list {
    /*margin-top: 20px;*/
}

.item {
    cursor: pointer;
    margin: 10px;
    padding: 0;
    /*width: 165px;*/
    width: calc(100% / 4 - 20px - 2px);
    height: 180px;
    /*border: 1px solid #B6CDF2;*/
    border: 1px solid #B6CDF2;
    float: left;
    text-align: center;
    background: #DEF0FF;
}

@media screen and (max-width: 1000px) {
    .item {
        width: calc(100% / 3 - 20px - 2px);
    }
}

.item:hover {
    background: #B5DEFF;
    text-decoration: none;
    transition: background 500ms;
    border: 1px solid #B6CDF2;
}

.pokemon-image {
    height: 120px;
    /*width: 130px;*/
    /*border: 1px solid #B6CDF2;*/
    /*background: white;*/
    /*margin: 8px;*/
}

.pokemon-name {
    font-weight: bold;
    font-size: 12pt;
}

.pokemon-types {
    margin-left: 8px;
    margin-right: 8px;
}

.pokemon-type {
    margin: 4px;
    padding: 4px;
    float: left;
    border: 1px solid lightgray;
    border-radius: 5px;
    /*font-size: 10pt;*/
}

img {
    /*border: 1px solid #B6CDF2;*/
    /*margin: 10px;*/
}

#details {
    /*background: #FCECD2;*/
    /*width: 200px;*/
    /*margin: 10px;*/
    text-align: center;
    border: 1px solid #B6CDF2;
    padding: 4px;
    font-size: 14pt;
    background: #DEF0FF;
    margin: 0px 10px 0px 0px;
}

#details-table {
    /*border: 1px solid #B6CDF2;*/
    width: 100%;
    background: #B6CDF2;
    border-spacing: 1px;
    font-size: 10pt;
}

.details-name {
    background: white;
    padding: 2px;
    width: 50%;
}

.details-value {
    background: white;
    padding: 2px;
}

#load-more-button {
    clear: both;
    background: #008CFF;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    width: 100%;

    width: calc(100% - 20px - 16px);
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

#load-more-button.loading, #load-more-button.loading:hover {
    background: lightgray;
    cursor: default;
}

#load-more-button:hover {
    background: #35A3FC;
    transition: background 500ms;
}

#footer {
    clear: both;
    width: 100%;
    background: #B5DEFF;
    text-align: right;

}

#footer-text {
    font-size: 8pt;
    padding: 4px;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 6pt;
        margin: 0px;
    }

    #header {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 10pt;
        margin-bottom: 5px;
    }

    #details {
        /*width: 100px;*/
        /*width: 95%;*/
        margin: 1px 10px 0px 1px;
        padding: 2px;
        font-size: 8pt;
    }

    #details-table {
        font-size: 6pt;
    }

    .item {
        margin: 10px;
        /*width: 90%;*/
        width: calc(100% - 20px - 2px);
        height: 170px;
    }


    .pokemon-name {
        font-weight: bold;
        font-size: 12pt;
    }

    #list {

    }

    .pokemon-image {
        height: 110px;
        width: 100%;
        text-align: center;
        margin: 4px;
    }

    #left-part {
        /*margin-right: 50%;*/
        min-height: 400px;
        width: 50%;
        /*background: green;*/
    }

    #right-part {
        top: 38px;
        width: 50%;
    }

    #filter {
        padding: 2px;
        font-size: 8pt;
        margin: 1px 10px 6px 1px;
    }

    #load-more-button {
        /*width: 90%;*/
        /*padding: 0px;*/
        display: inline-block;
    }
}